.nav
    background: var(--color-nav-bg)
    box-shadow: inset 0px -1px 0px var(--color-divider)
    display: flex
    justify-content: space-between
    align-items: center
    z-index: 10
// Card "Nav" inherits styles from Main Nav bar

.nav-app-menu-left
    display: flex
    align-items: center
    // todo Fix the Detail display here.
    summary
        display: inline-block

.nav-app-menu-right
    display: flex
    align-items: center

.nav-app-menu-label
    display: flex
    align-items: center
    min-height: 2.5rem
    color: var(--color-nav-text)
    text-decoration: none
    padding: 4px 8px 4px 4px
    p
        margin: 0
        padding-left: 0.25rem

.nav-app-menu-hover:hover
    color: var(--color-nav-text-hover)
    background-color: var(--color-nav-bg-hover)
