//- Site Home
//- ===================
//- Component Mixins
include components/_cards.pug
//- ===================


doctype html
html
    //- Start Header ======
    - const pageTitle = "Paper Pixel";
    include components/_head.pug
    //- End Header ======
    body
        //- Start Nav =============
        nav(class="nav")
            include components/_nav.pug
        //- End Nav =============
        main
            section
                +welcomeCard('welcome', 'Welcome.app', 'Welcome', 'Thank you for stumbling across Kyle Kochanek’s corner of the internet!', 'Discover the fantastic projects that live here, shipped with all of their bugs and glory. Testaments to live and let learn.', 'May this content inspire a few smiles and nuggets of ideas for you today!')

        footer
            //- Start Footer =====
            include components/_footer.pug
            //- End Footer =====